@model PruebaTecnica.Models.Duenio
@{
    ViewData["Title"] = "Dueño a editar";
}
<h1>@ViewData["Title"]</h1>



<form asp-controller="Duenio" asp-action="Edit" asp-route-id="@Model.Id">
    <div class="mb-3 mt-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="" name="name" value="@Model.Name">
         <label for="telefono" class="form-label">Telefono:</label>
        <input type="text" class="form-control" id="telefono" placeholder="" name="telephone" value="@Model.Telephone">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="" name="email" value="@Model.Email">
        <label for="cedula" class="form-label">Cédula:</label>
        <input type="text" class="form-control" id="cedula" placeholder="" name="identificationNumber" value="@Model.IdentificationNumber">
        <label for="direccion" class="form-label">Dirección:</label>
        <input type="text" class="form-control" id="direccion" placeholder="" name="Address" value="@Model.Address">
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<br />


